/* Universal Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  transition: all ease-in-out 500ms;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f4f4f4;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 0px 5px;
}

a {
  text-decoration: none;
  color: #313131;

}


/* Navbar Styles */

nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 10px 30px;
  background-color: #ffffff;
  z-index: 99;
}

nav img {
  max-height: 60px;
  cursor: pointer;
}

/* Header styles */

header {
  display: flex;
  flex-direction: column;
}

.feature{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 100px;
  height: 500px;
  width: 100%;
  background-color: #313131;
  overflow: hidden;
  background-image: url(./img/me-lew.jpg);
  background-size: cover;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  padding-bottom: 120px;
}

.cta * {
  padding: 5px;
  margin: 5px 0px;
}

.cta-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta-headline h1 {
  color: #f4f4f4;
}

.cta-headline p {
  font-size: 1.2rem;
  font-weight: 100;
  color: #f4f4f4;
  max-width: 600px;
}

.cta-btn {
  padding: 10px;
  background-color: #F6412A;
  color: #f4f4f4;
  width: 150px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
}

.cta-btn:hover {
  background-color: #f4f4f4;
  color: #F6412A;
}

.feature svg {
  position: absolute;
  bottom:0;
  z-index: 10;
  width: 100%;
}

/* Main Section styles */

main {
  position: relative;
  top: 100px;
  height: auto;
  width: 100%;
  background-color: #F6412A;
}

main h2 {
  color: #f4f4f4;
}

main svg {
  display: block;
  width: 100vw;
  border: none;
}

    /* Testimonial */

    .testimonials {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      padding: 10%;

      color: #f4f4f4;
    }

    .testimonial {
        height: 250px;
        width: 300px;
        padding: 10px;
        margin: 10px;
        background-color: #FFF;
    }

    .testimonial-images{
      display: flex;
      flex-direction: row;
    }

    .testimonial-image-before {
      width: 50%;

      max-height: 200px;
    }

    .testimonial-image-after {
      width: 50%;

      max-height: 200px;

    }

    .testimonial-image-before img {
      width: 100%;
    }

    .testimonial-image-after img {
      width: 100%;
    }

    .testimonial-image-before__text h3 {
      font-family: 'Gloria Hallelujah', cursive;
      color: #313131;
    }

    .testimonial-image-after__text h3{
      font-family: 'Gloria Hallelujah', cursive;
      color: #313131;
    }

    /* Trainer Section */

    .trainer {
      position: relative;
      top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: #111111;
      padding-bottom: 30px;
      margin-bottom: 20px;
    }

    .trainer svg {
      display: block;
      width: 100vw;
      border: none;
      padding: 0;
      margin: 0;
    }

    .trainer img {
      width: 200px;
      border-radius: 100px;
      padding: 20px;
    }

    .trainer h2 {
      color: #F4F4F4;
      padding: 20px;
    }

    .trainer-profile {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .trainer-profile h3 {
      color: #F4F4F4;
      padding: 10px 0px;
    }

    .trainer-profile-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .trainer-profile-information {
      display: flex;
    }

    .qualifications {

      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .qualifications i {
      padding-right: 5px;
    }

    .qualifications li {
      margin: 5px 0px;
      color: #f4f4f4;
      font-weight: 200;
    }

    /* Footer style */

    footer {
      top: 30px;
      width: 100%;
      height: 100px;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-around;
      background-color: #FFF;
    }

    .socials {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .socials li {
      font-size: 2rem;
    }
    

/* Media Queries for Responsive Design */

    /* iPhone XS */
    @media only screen and (max-width: 375px){
        h1 {
          font-size: 2.5rem;
        }

        .trainer {
          top: 60px;
        }
    }